@import '../../global.css';

.headers{
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #004caa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}


.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 24px;
}
